<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBk1v1ao-qZ0I9jPQXs-9ECGWu8q6Wu4PQ</string>
	<key>GCM_SENDER_ID</key>
	<string>399056522338</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.jewellery</string>
	<key>PROJECT_ID</key>
	<string>jewellery-78c20</string>
	<key>STORAGE_BUCKET</key>
	<string>jewellery-78c20.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:399056522338:ios:0dc2fc765851f66bfc553b</string>
	<key>DATABASE_URL</key>
	<string>https://jewellery-78c20-default-rtdb.firebaseio.com</string>
</dict>
</plist>